<h2>Login</h2>

<form action="/login" method="POST">
  <div class="form-group">
    <div class="form-group col-md-6">
      <label for="surfername">Surfer Name</label>
      <input type="text" class="form-control" id="surfername" name="surfername" placeholder="Enter Surfer Name">
    </div>
  </div>
  <div class="form-group">
    <div class="form-group col-md-6">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
  </div>
  <div class="form-group">
    <div class="form-group col-md-6">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
