
<h2>Surf, log, share, using a new app called Surfer's Log. Recording your surf sessions allows you to relive those epic days and to dial in a specific spot with specific conditions. Sign up today and start logging!</h2>

<h2><a href="/create_surfer">Signup</a>
<a href="/login">Login</a></h2>
