<div class="home-page">
  <h2 class="break"></h2>
  <div class="form-row break">
    <div class="form-group col-md-6">
      <h3>Surf, log, share, using a new app called Surfer's Log. Recording your surf sessions allows you to relive those epic days and to dial in a specific spot with specific conditions. Sign up today and start logging!</h3>
      <form method="get" action="/create_surfer">
        <button id="inline-button" type="submit" class="btn btn-primary">Signup</button>
      </form>
      <form method="get" action="/login">
        <button id="inline-button" type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
    <div class="form-group col-md-6">
      <div>
        <img src="/images/pipeline.jpg">
      </div>
    </div>
  </div>
</div>
